body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darksalmon;
}

div {
    position: absolute;
    bottom: 20px;
}