@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.range-container {
    position: relative;
}

h2 {
    position: absolute;
    top: 10px;
}

input[type='range'] {
    width: 300px;
    margin: 18px 0;
    -webkit-appearance: none;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']+label {
    position: absolute;
    top: -25px;
    left: 110px;
    background-color: #fff;
    width: 80px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* 滑块凹槽 */
/* Chrome & Safari */
input[type='range']::-webkit-slider-runnable-track {
    background: purple;
    border-radius: 4px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

/* 这是 type 为 range 的 input 标签内的一种伪类样式，用于设置 range 的滑块的具体样式，该伪类只在内核为 webkit/blink 的浏览器中有效 */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid purple;
    margin-top: -7px;
    cursor: pointer;
}