.holy-grail {
    display: flex;
    flex-direction: column;
}

.holy-grail__main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}

.holy-grail__left {
    width: 25%;
}

.holy-grail__middle {
    /* Take the remaining width */
    flex-grow: 1;
}

.holy-grail__right {
    width: 20%;
}

.header {
    height: 80px;
    border: 1px solid #000;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left {
    height: 800px;
    border: 1px solid #000;
}

.right {
    height: 800px;
    border: 1px solid #000;
}

.footer {
    height: 50px;
    border: 1px solid #000;
}