<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <div class="holy-grail">
        <header>
            <div class="header">header</div>
        </header>
        <main class="holy-grail__main">
            <!-- Left sidebar -->
            <aside class="holy-grail__left">
                <div class="left">.Left sidebar..</div>
            </aside>

            <!-- Main content -->
            <article class="holy-grail__middle">.Main content..</article>

            <!-- Right sidebar -->
            <nav class="holy-grail__right">
                <div class="right">.Right sidebar..</div>
            </nav>
        </main>
        <footer>
            <div class="footer">..footer.</div>
        </footer>
    </div>

</body>

</html>