<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <div class="same-height-columns">
        <!-- Column -->
        <div class="same-height-columns__column">
            <!-- Cover -->
            ...

            <!-- Content -->
            <div class="same-height-columns__content">...</div>

            <!-- Button sticks to the bottom -->
            ...
        </div>
        <div class="same-height-columns__column">
            <!-- Cover -->
            ...

            <!-- Content -->
            <div class="same-height-columns__content">
                <div style="height: 300px;" class="div">
                    ..............................
                </div>.
            </div>

            <!-- Button sticks to the bottom -->
            ...
        </div>
        <div class="same-height-columns__column">
            <!-- Cover -->
            ...

            <!-- Content -->
            <div class="same-height-columns__content">
                ........................................................................</div>

            <!-- Button sticks to the bottom -->
            ...
        </div>

        <!-- Repeat with other columns -->
        ...
    </div>


</body>

</html>