<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <div class="card-layout">
        <!-- A card with given width -->
        <div class="card-layout__item">...</div>
        <div class="card-layout__item">...</div>
        <div class="card-layout__item">...</div>
        <div class="card-layout__item">...</div>
        <div class="card-layout__item">...</div>
        <div class="card-layout__item">...</div>
        <div class="card-layout__item">...</div>
        <div class="card-layout__item">...</div>
        <div class="card-layout__item">...</div>
        <div class="card-layout__item">...</div>

        <!-- Repeat other cards -->
        ...
    </div>

</body>

</html>